<header class="bg-white w-full py-3">
    <nav
        class="max-w-6xl mx-auto px-3.5 md:px-16 lg:px-20 flex justify-between"
    >
        <div class="logo">
            <a href="/">
                <h2 class="font-bold text-xl text-orange-500">Gambtech</h2>
            </a>
        </div>
        <ul class="flex items-center font-medium gap-x-2">
            @guest
                <li><a href="/login">Login</a></li>
                <li><a href="/register">register</a></li>
            @endguest

            @auth
                <li><a href="/home">home</a></li>
                <li><a href="/logout">logout</a></li>
            @endauth
        </ul>
    </nav>
</header>
