@extends("layout.app")
@section("title", "Dashboard")
@section("content")
    @include("partials.queues.sidebar")
    <main class="flex-1 overflow-y-auto scrollbar-custom">
        @include("partials.queues.top-header")
        <div class="px-8 py-7 space-y-8">
            @include("partials.queues.dashboard.overview")
            {{--
                @include("partials.queues.dashboard.work-load")
                @include("partials.queues.dashboard.supervisor")
            --}}
            <div>@include("partials.queues.dashboard.jobs-table")</div>
        </div>
    </main>
@endsection
